 body {
     background: #edeef0;

 }
 .row {
     width: 100%;
     overflow: hidden;
 }
header {
     height: 45px;
     background-color: #507299;
     border-bottom: 1px solid #466991;
     position: relative;
     margin-bottom: 10px;
     border-radius: 10px;
}
 /* nav {
     margin-left: 40px;
     background-color: white;
     border-radius: 10px;
     float: left;
 }
     */
 article {
     margin-left: 70px;
     background-color: white;
     border-radius: 10px;
     float: left;
 }
 aside {
     margin-left: 10px;
     background-color: white;
     border-radius: 10px;
 }
 footer {
     height: 42px;
     background-color: #507299;
     border-top: 1px solid #466991;
     position: relative ;
     margin-top: 10px;
     border-radius: 10px;
 }
.logo {
    margin: 4px;
    font-family: "Indie Flower",sans-serif; color: #edeef0;
    font-size: 30px;
    float: left;
    text-align: center;
}
.img-thumbnail {
    margin-top: 10px;
    width: 302px;
    height: 188px;
}
 .container {
     width: 100%;
     min-height: 250px;
     border: 1px solid #e7e8ec;
     padding-bottom: 10px;
     margin: 10px auto;
     align-content: center;
     position: relative;
 }
 h2 {
     font-size: 2em;
 }
 .info {
     margin-right: 10px;
     position: relative;
     float: left;
 }
 .form-control , .btn  {
     margin-top:10px;
 }