@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "../less/variables.less";


p {
    margin: 20px 0;
}

.form-control {
    box-shadow: none;
}

.btn {
    font-family: @brand-font;
}

.heading {
    background-color: #3c3c3c;
}

#wrapper {
    max-width: 960px;
    margin: auto;
    background-color: #2aabd2;
}
header {
    padding: 20px 0;
}
body {
    border-top: 5px solid #7e7e7e;

    background-color: #1b6d85;
}

body {

    .wrapper {
        padding: 0 0 50px 0;
            }

    header {
    padding: 20px 0;
            }
}

.navi {
    background-color: #3c3c3c;
    width: 900px;
}
h1 {
    text-align: center;
    color: #1b6d85;
}
