

.form-control .form-control_IN{
    box-shadow: none;
}

.btn .btn_IN {
    font-family: @brand-font;
}

.heading  #profile_IN{
    background-color: #3c3c3c;
    text-align: center;
    color: #1b6d85;
}

#wrapper_IN {
    max-width: 960px;
    margin: auto;
    background-color: #2aabd2;
}

#header_IN {
    padding: 20px 0;
}

 #body_IN {
    border-top: 5px solid #7e7e7e ;
    background-color: #1b6d85 ;
     background-image: none;
}

#navi_IN
{
    background-color: #3c3c3c;
    width: 900px;
}


.people_IN li {
    border: 0px !important;
    color: #0f0f0f;
    font-size: 20px;
    text-transform: capitalize;
}