body {
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    background: url('../../../img/Kirill-Shmetan/background.jpg');
    width: 960px;
    height: auto;
    overflow-x: hidden;
}

.header {
    height: 50px;
    border-top: 50px #E5E4E2 solid ;
    display: block;
    width: 960px;
    border-radius: 10px;
}

 .header P{
     color: #32dac7;
     text-align: center;
     top:-60px;
}
p {
    color: #ffa8c2;
    font-size: 22px;
    position: relative;
    left: 20px;
}
.avatar {
    height: 200px;
    width:300px;
    border: 2px #8f00cc solid;
    border-radius: 15px;
    float: left;
    margin-left: 5%;
}
.information {
    height: 300px;
    width: 350px;
    border: 2px #8f00cc solid;
    border-radius: 15px;
    background-color: #d3dad7;
    float: right;
    margin-right: 5%;
    padding: 0px 50px 0px 50px;
    }
#hobbies {
    color: #ffa8c2;
    font-size:20px;
    display: block;
}
.news {
    width: 650px;
    font-size:14px;
    display: block;
    border: 2px #8f00cc solid;
    border-radius: 15px;
    background-color: #d3dad7;
    padding: 20px 50px 20px 50px;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 30px;

}
.news ul li a:hover {
    color: #ffa8c2;
}
h3 {
    color: #000000;
    font-size: 22px;
}
.form {
    width: 650px;
    font-size:14px;
    display: block;
    border: 2px #8f00cc solid;
    border-radius: 15px;
    background-color: #d3dad7;
    padding: 20px 50px 20px 50px;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 30px;
    }
#myItems{
    font-size:14px;
}
#mocha{
    width: 600px;
}