body{
    width: 1180px;
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    background: url('../../../img/Kirill-Shmetan/background.jpg');
    height: auto;
    overflow-x: hidden;
}

.body_ks ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    height: 50px;
    border-top: 50px #E5E4E2 solid ;
    display: block;
    width: 100%;
    }

.header P{
     color: #0eda84;
     text-align: center;
     top:-60px;
}

p {
    color: #000000;
    font-size: 22px;
    position: relative;
    left: 20px;
}
.avatar {
    height: 200px;
    width:300px;
    border: 2px #8f00cc solid;
    border-radius: 15px;
    float: left;
    margin-left: 5%;
}
.information {
    height: 300px;
    width: 350px;
    border: 2px #8f00cc solid;
    border-radius: 15px;
    background-color: #d3dad7;
    float: right;
    margin-right: 5%;
    padding: 0px 50px 0px 50px;
    }
#hobbies {
    color: #000000;
    font-size:20px;
    display: block;
}
.showUsers{
    position: relative;
    display: block;
    width: 265px;
    height: auto;
}
#female_gender{
    display: block;
    margin-top: 357px;
    margin-left: 5%;
    width: 130px;
    border: 2px #8f00cc solid;
    border-radius: 15px;
    background-color: #d3dad7;
    padding: 20px 50px 20px 50px;
}
#female_gender p{
    font-weight: 600;
    left: 0px;
    text-align: center;
    font-size: 22px;
}

#female_gender h1{
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    text-: uppercase;
}

#male_gender{

    margin-top: 5%;
    margin-left: 5%;
    width: 130px;
    border: 2px #8f00cc solid;
    border-radius: 15px;
    background-color: #d3dad7;
    padding: 20px 50px 20px 50px;
}
#male_gender p{
    font-weight: 600;
    left: 0px;
    text-align: center;
    font-size: 22px;
}

#male_gender h1{
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    text-: uppercase;
}

.news {
    width: 650px;
    font-size:14px;
    display: block;
    border: 2px #8f00cc solid;
    border-radius: 15px;
    background-color: #d3dad7;
    padding: 20px 50px 20px 50px;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 30px;

}
.news ul li a:hover {
    color: #ffa8c2;
}
h3 {
    color: #000000;
    font-size: 22px;
}
.form {
    width: 650px;
    font-size:14px;
    display: block;
    border: 2px #8f00cc solid;
    border-radius: 15px;
    background-color: #d3dad7;
    padding: 20px 50px 20px 50px;
    float: right;
    margin-right: 5%;
    margin-top: 53px;

    }
#myItems{
    font-size:14px;
}
#mocha{
   bottom-top:50px;
}

#pictures_ks {
    display: block;
    position: relative;
    margin: 67px 156px;
    width: 426px;
    height: 640px;
    overflow: hidden;
    border: 3px solid #002979;
}

#pictures_ks .slides_ks {
    width: auto;
}

#pictures_ks img {
    float: left;
}

#upButton_ks {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: -779px 353px;
}

#downButton_ks {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: -65px 353px;
}

.slider_ks {
    border: 4px #002979 solid;
    border-radius: 15px;
    background-color: white;
    padding: 0 20px 0 20px;
}

#playButton_ks {
    position: absolute;
    display: block;
    margin: -450px 700px;
    width: 83px;
    height: 88px;
    border-radius: 50px;
}

#homepageLink_ks {
    display: block;
    margin: 15px 900px;
    width: 150px;
    color: orangered;
    text-decoration: underline;
    position: absolute;
}