/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////Aleksandr Feschenko CSS //////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////RESET.CSS/////////////////////////////////////////////////////////////////////////*/
.body_af * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	line-height: 1;
	border-collapse: collapse;
	border-spacing: 0;
	list-style-type: none;
	quotes: none;
	position: static;
	border-radius: 0;
	height: auto;
}
/*//////////////////////////////RESET.CSS END/////////////////////////////////////////////////////////////////////*/

.body_af {
	background: white;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
}

.wrapper_af {
	margin: 0 auto;
	max-width: 1170px;
}

.clearfix_af:after{
	content: "";
	display: table;
	clear: both;
}


.header_af {
	background-color: whitesmoke;
	padding: 15px;
}

.header-title_af {
	letter-spacing: 1px;
	font-weight: bold;
	color: rgb(96, 96, 96);
	display: inline-block;
	text-decoration: none;
}

.header-title_af:hover {
	color: rgb(26, 187, 156);
}

.content_af {
	overflow: hidden;
}

/*/////////////////////////////////////INDEX PAGE////////////////////////////////////////////////////////////////*/

.left_column_af {
	float: left;
	width: 30%;	
	margin: 10px;
}

.navigation_menu_af {
	list-style-type: none;
}

.navigation_menu-link_af{
	text-decoration: none;
	display: block;
	border-radius: 10px; 
	margin: 3px 0;
	padding: 5px 7px;
	color: blue;
}

.navigation_menu-link_af:hover{
	background-color: rgba(0,0,0,.25);
}

.navigation_menu-link_af:active{
	opacity: .50;
	color: blue;
}

.avatar_af {
	max-width: 100%;
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 10px;
}

.right_column_af {
	float: left;
	margin: 10px;
	width: 66%;
}

.user_information_af {
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 10px;
	padding: 8px;
	
}

.user_information-cells_af{
	vertical-align: top;
	text-align: left;
	font-weight: 400;
	padding: 7px;
}

.hobbies_list {
	list-style-type: none;
}

.hobbies_list-li_af{
	padding: 2px 0;
}

.news_list_af {
	margin-top: 10px;
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 10px;
	padding: 8px;
}

.news_list-block_af {
	list-style-type: none;
	padding: 7px;
}

.news_list-block-title_af {
	color: green;
	padding: 2px 0;
}

.news_list-block-content_af {
	padding: 2px 0;
}

.news_list-block-anchor_af {
	padding: 2px 0;
}

.some_peoples_af {
	margin-top: 10px;
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 10px;
	padding: 8px;
}

.some_peoples-block_af {
	list-style-type: none;
	padding: 7px;
	overflow: hidden;
}

.some_peoples-block-photo_af {
	color: green;
	padding: 2px 0;
	float: left;
}

.some_peoples-block-title_af {
	color: green;
	padding: 10px;
	float: left;
}

.todo_af {
	margin-top: 10px;
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 10px;
	padding: 8px;
	overflow: hidden;
}

.todo-title_af {
	color: green;
	font-weight: bold;
	padding: 5px;
}

.todo-list_af {
	list-style-type: decimal;
	list-style-position: inside;
	padding-left: 15px;	
}

.todo-list-li_af {
	margin: 2px 0;
}

.todo-list-li_af:hover{
	cursor: pointer;	
	font-size: larger;
	color: red;
}

.form_af {
	margin: 6px;
	overflow: hidden;
}

.text_form_af, .button_af {
	float: left;
	padding: 5px;
	border: 1px solid rgba(0,0,0,.25);
	font-size: 17px;
	font-family: 'PT Sans', sans-serif;
}

.text_form_af {
	box-sizing: border-box;
	height: 42px;
	width: 64%;
	border-radius: 10px 0 0 10px;
	border-right: none;
	text-indent: 8px;
}

.button_af {
	box-sizing: border-box;
	height: 42px;
	width: 36%;
	border-radius: 0 10px 10px 0;
	border-left: none;	
	color: blue;
	font-weight: bold;
}

.button_af:hover {
	background-color: rgba(0,0,0,.25);
	cursor: pointer;
}

.button_af:active {
	opacity: .50;
}

.alert_af {
	background-color: rgba(255,0,0,.25);
	border: 1px solid rgba(255,0,0,1);
	border-radius: 10px;
	color: red;
	display: block;
	letter-spacing: 1px;
	padding: 12px 0;
	margin: 6px;
	text-indent: 13px;
}

/*/////////////////////////////////////INDEX PAGE END//////////////////////////////////////////////////////////////*/

.footer_af {
	padding: 15px;
	background-color: whitesmoke;
	text-align: center;
	color: rgb(96, 96, 96);
}

/*////////////////////////////////////////SLIDE SHOW PAGE//////////////////////////////////////////////////*/
.slide_show_af {
	margin: 10px auto;
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 10px;
	position: relative;
	width: 100%;
}

.slide_show-left_button_af,
.slide_show-right_button_af,
.slide_show-play_button_af {
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -41px;
	opacity: .05;
}

.slide_show-left_button_af {
	left: 5%;
}

.slide_show-right_button_af {
	right: 5%;
}

.slide_show-play_button_af {
	opacity: .05;
	left: 50%;
	margin-left: -41px;
}

.slide_show-left_button_af:hover,
.slide_show-play_button_af:hover,
.slide_show-right_button_af:hover {
	opacity: .9;
}

.slide_show-left_button_af:hover,
.slide_show-play_button_af:hover,
.slide_show-right_button_af:hover {
	opacity: .9;
}

.slide_show-left_button_af:active,
.slide_show-play_button_af:active,
.slide_show-right_button_af:active {
	transform:  scale(1.2, 1.2);
}

.slide_show-center_af {
	margin: 8px;
}

.slide_show-center-image_af {
	margin: 0 auto;
	display: block;
}

.preview_images_af {
	margin: 10px 0 10px 0;
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 10px;
	padding: 8px;
}

.preview_images-element_af {
	float: left;
	box-sizing: border-box;
	width: 10%;
	padding: 0 5.5px;
	margin: 3px 0;
	overflow: hidden;
}

.preview_images-element-image_af {
	max-height: 150px;
	max-width: 150px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}


@media screen and (max-width: 1200px) and (min-width: 993px) {
	.wrapper_af {
		margin: 0 auto;
		max-width: 970px;
	}
	.preview_images-element_af {
		padding: 0 4.5px;
	}
	.right_column_af {
		margin: 8px;
		width: 65%;
	}
}

@media screen and (max-width: 992px) and (min-width: 769px) {
	.wrapper_af {
		margin: 0 auto;
		max-width: 746px;
	}
	.preview_images-element_af {
		width: 20%;
		padding: 0 7.2px;
		margin: 3px 0;
	}
	.right_column_af {
		margin: 10px 0;
		width: 100%;
	}
	.left_column_af {
		margin: 10px 0;
		width: 100%;
	}
}

@media screen and (max-width: 768px) and (min-width: 480px) {
	.wrapper_af {
		margin: 0 auto;
		max-width: 455px;
	}
	.preview_images-element_af {
		width: 25%;
		padding: 0 1px;
		margin: 3px 0;
	}
	.slide_show-center-image_af {
		height: 420px;
	}
	.right_column_af {
		margin: 10px 0;
		width: 100%;
	}
	.left_column_af {
		margin: 10px 0;
		width: 100%;
	}
	.text_form_af {
		width: 61%;
	}
}

@media screen and (max-width: 479px) and (min-width: 320px) {
	.wrapper_af {
		margin: 0 auto;
		max-width: 295px;
	}
	.preview_images-element_af {
		width: 33%;
		padding: 0 3px;
		margin: 3px 0;
	}
	.slide_show-center-image_af {
		height: 300px;
	}
	.right_column_af {
		margin: 10px 0;
		width: 100%;
	}
	.left_column_af {
		margin: 10px 0;
		width: 100%;
	}
	.text_form_af {
		width: 59%;
	}
}
/*/////////////////////////////////////SLIDE SHOW PAGE END/////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////Aleksandr Feschenko CSS END///////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/