@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic);

* {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-size: 13px;
	
}

h1 {
	font-size: 13px;
}

.content {
	margin: 0 auto;
	width: 720px;
}

.header {
	background-color: rgba(0,0,0,.25);
	padding: 10px;
	border-radius: 10px; 
}

.navigation_menu {
	margin: 10px;
	float: left;
	width: 30%;
}

.navigation_menu ul {
	list-style-type: none;
}

.navigation_menu ul li {
	margin-bottom: 8px;
}

.navigation_menu ul li a{
	text-decoration: none;
	padding: 10px 5px;
}

.navigation_menu ul li a:hover{
	color: red;
}

.navigation_menu ul li a:active{
	font-weight: 700;
}

.avatar {
	max-height: 600px;
	max-width: 100%;
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 10px;
}

.user_information {
	float: left;
	margin: 10px;
	width: 64%;
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 10px;
}

.user_information table {
	text-align: left;
	
	padding: 8px;
}

.user_information table tr th{
	vertical-align: top;
	font-weight: 400;
	padding: 7px;
}

.user_information h2 {
	text-align: center;
}

#hobbiesList li{
	list-style-type: none;
}

.footer {
	clear: both;
	padding: 10px;
	background-color: rgba(0,0,0,.25);
	text-align: center;
	padding: 10px;
	border-radius: 10px;
}