.body_mu [class*="col-"] {
    text-align: center;
    padding-top: 15px;
    font-size: 2rem;
   }
.html_mu, .body_mu {
	height:100%; 
}   
.body_mu {
	background: url(../../../img/michail_suprunov/background.png);
}
.body_mu  .page-wrapper_mu{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.body_mu .header-wrapper_mu {
	background-color: #3CAFE2;
}
.body_mu .main-wrapper_mu {
	flex: 1 0 auto;
}
.body_mu .main-header_mu {
	padding: 3px 0;
}
.body_mu .main-nav_mu ul {
	list-style-type: none;
	padding: 0;
	text-align: left
}
.body_mu .info_mu {
	height:100%;
	padding-top:0;
	padding-bottom:0;
	overflow: hidden;
}
.body_mu .personal-data_mu {
	text-align: left;
}
.body_mu .footer-wrapper_mu {
	flex: 0 0 auto;
}
.body_mu .main-footer_mu {
	background: #366472;
	padding: 5px 0;
	text-align: center;
	color: rgba(255,255,255,0.8);
	padding: 10px;
}

.body_mu #newsColumn_mu {
	margin: 50px 0;
	text-align: left;
	font-size:.8em;
	border: 5px solid #19CEF0;
	border-radius: 20px;
	padding-top: 0;
}

.body_mu #newsColumn_mu div {
	margin: 15px -15px;
	padding: 0 15px;
	border-bottom: 1px solid #19CEF0;
}
.body_mu #newsColumn_mu div:last-child {
	border-bottom: none;
}

.body_mu .inputLS_mu {
	text-align: left;
}
.body_mu  .wrapListLS_mu {
	border: 5px solid #19CEF0;
	border-radius: 20px;
	margin-top: 50px;
	padding-bottom: 15px;
}
.body_mu .maleUsers_mu, .body_mu .femaleUsers_mu, .body_mu .friendsUsers_mu{
	border: 5px solid #19CEF0;
	border-radius: 20px;
	margin-top: 50px;
	font-size: .8em;
}



.body_mu .userImage_mu {
	margin: 20px auto 0;
    	
}
@media (max-width: 767px) {

    .body_mu .main-nav_mu {
		margin: 0;
		padding: 0;
		background-color: #E9EF06;
	}
    .body_mu .main-nav_mu ul {
		display: flex;
		justify-content: center;
		margin: 0;
	}
    .body_mu .main-nav_mu li:last-child {
		border-right:none;
	}
    .body_mu .main-nav_mu li {
		flex: 1;
		text-align: center;
		border-right: 1px solid black;
		padding: 5px 2px;
	}
    .body_mu .container {
		margin: 0, auto;
	}
}
@media (max-width: 459px){
    .body_mu #keyLS_mu, .body_mu #submitInputLS_mu, .body_mu #listLS_mu {
		font-size: .7em;
	}
    .body_mu #keyLS_mu {
		width: 138px;
	}
    .body_mu .maleUsers_mu, .body_mu .femaleUsers_mu, .body_mu .friendsUsers_mu {
		font-size: .7em;
	}
    .body_mu .maleUsers_mu h3, .body_mu .femaleUsers_mu h3, .body_mu .friendsUsers_mu h3 {
		font-size: 1.3em;
	}
    .body_mu .wrapMale_mu, .body_mu .wrapFemale_mu, .body_mu .wrapFriends_mu {
		padding: 10px;
	}
}
