/*HEADER*/
.header_nv {
    font-family: 'Poiret One', cursive;
}

/*BODY*/
.leftCol {
    background: #00CC66;
    height: 200px;
}

.rightCol {
    background: #5bc0de;
    height: 200px;
}

/* Block with news */
.newsBlock_nv {
    background: #a4d3ee;
    padding: 5px 10px 10px;
    margin: 5px 0;
    border: solid #00b3ee 1px;
    border-radius: 3px;
}

.newsBlock_nv h4 {
    font-family: 'Poiret One', cursive;
    font-size: 21px;
}
.newsBlock_nv p {
    font-family: "Trebuchet MS", cursive;
}
.newsBlock_nv a {
    text-decoration: none;
    color: cadetblue;
}

/* Blocks with tasks */



/* Blocks with users */
.userList_nv {
    font-family: "Trebuchet MS", cursive;
    margin-bottom: 15px;
}

.userList_nv h3 {
    font-family: 'Poiret One', cursive;
    font-style: italic;
    font-size: 25px;
}

.maleList_nv {
    border: 1px solid #0b97c4;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #c7e6e8;
    border-radius: 4px;
}

.femaleList_nv {
    border: 1px solid #0b97c4;
    padding: 5px;
    background-color: #f1dfd5;
    border-radius: 4px;
}


/* --- Slider page --- */

#pictureBlock_nv {
    overflow: hidden;
    margin: 0 auto;
    height: 640px;
    width: 426px;
    border-radius: 15px;
}

#pictureBlock_nv img {
    float: left;
}

#pictureBlock_nv .slider_nv {
    width: 100000px;
}

.slideShow_nv {
    padding: 50px 20px 50px 20px;
}

#leftButton_nv {
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 260px;
}

#rightButton_nv {
    width: 100px;
    height: 100px;
    float: right;
    margin-top: 250px;


}

body {
    margin: 0 auto;
    padding: 0;
    width: 960px;
    border-top: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#autoPlay_nv {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.home_nv {
    margin: 0 auto;
}

.home_nv a {
    margin: 0 auto;
    display: block;
}



