/*HEADER*/
.header {
    font-family: 'Poiret One', cursive;
}

/*BODY*/
.leftCol {
    background: #00CC66;
    height: 200px;
}

.rightCol {
    background: #5bc0de;
    height: 200px;
}

/* Block with news */
.newsBlock {
    background: #a4d3ee;
    padding: 5px 10px 10px;
    margin: 5px 0;
    border: solid #00b3ee 1px;
    border-radius: 3px;
}

.newsBlock h4 {
    font-family: 'Poiret One', cursive;
    font-size: 21px;
}
.newsBlock p {
    font-family: "Trebuchet MS", cursive;
}
.newsBlock a {
    text-decoration: none;
    color: cadetblue;
}

/* Blocks with tasks */



/* Blocks with users */
.userList {
    font-family: "Trebuchet MS", cursive;
    margin-bottom: 15px;
}

.userList h3 {
    font-family: 'Poiret One', cursive;
    font-style: italic;
    font-size: 25px;
}

.maleList {
    border: 1px solid #0b97c4;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #c7e6e8;
    border-radius: 4px;
}

.femaleList {
    border: 1px solid #0b97c4;
    padding: 5px;
    background-color: #f1dfd5;
    border-radius: 4px;
}
