body {
    margin: 0;
    padding: 0;
    font: 1em/1.4em sans-serif;
    background: url(../../../img/sergey-piven/background.png) repeat;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main {
    margin: 20px 20px 0 450px;
    border: 3px #CCCCCC solid;
    border-radius: 15px;
    background-color: #ECECEC;
    padding: 0 50px 20px 50px;
}

.news {
    margin: 20px 20px 0 450px;
    border: 3px #CCCCCC solid;
    border-radius: 15px;
    background-color: #ECECEC;
    padding: 20px 50px 20px 50px;
}

.news ul {
    margin: 15px 0;
}

.news ul li:first-child {
    text-decoration: underline;
}

.news ul li a {
    color: #c9302c;
}

.news ul li a:hover {
    text-decoration: underline;
}

.avatar {
    border: 5px #CCCCCC solid;
    border-radius: 15px;
}

#hobbiesInterests {
    list-style: disc;
}

#hobbiesInterests li {
    margin-left: 20px;
}

/*Внешний вид меню */

.left_side {
    width: 200px;
    margin: 0 20px 20px 20px;
    float: left;
}

.menu a {
    background: #3d3d3d;
    color: #fff;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #666;
    transition: 0.5s all;
}

.menu a:hover {
    background: #666;
    padding: 10px 0 10px 20px;
}

.menu li:first-child a,
.menu li .menu_drop li:first-child a{
    border-radius: 3px 3px 0 0;
}

.menu li:last-child a,
.menu li .menu_drop li:last-child a{
    border-radius: 0 0 3px 3px ;
    border-bottom: 0;
}

.menu li .menu_drop li a{
    border-radius: 0;
    border-bottom: 1px solid #666;
}

/*Всплывающие меню */

.menu_list  {
    position: relative;
}

.menu_drop {
    position: absolute;
    width: 100%;
    left: 100%;
    top: -9999em;
    opacity: 0;
    border-left: 5px solid transparent;
    transition: 0.5s opacity;
}

.menu_list:hover .menu_drop {
    opacity: 1;
    top: 0;
}

/*Иконки для вплывающих меню */

.menu_list::after  {
    content: " ";
    position: absolute;
    border: 5px solid;
    border-color: transparent transparent transparent #eee;
    top: 1em;
    right: 0.5em;
    transition: 0.5s;
}

.menu_list:hover::after {
    transform: scaleX(-1);
}